<div class="jumbotron">
    <h1>FREDSENA.NET</h1>
    

    <p><a href="http://testsms.fredsena.net/api/sms/countries.json" class="btn btn-primary btn-lg">http://testsms.fredsena.net/api/sms/countries.json</a></p>

    
    <p><a href="http://testsms.fredsena.net/api/sms/send.json?from=%2B5561984608436&to=%2B4926221293388&text=Hello+World+From+Brazil" class="btn btn-primary btn-lg">http://testsms.fredsena.net/api/sms/send.json?from=%2B5561984608436&to=%2B4926221293388&text=Hello+World+From+Brazil</a></p>

    
    <p><a href="http://testsms.fredsena.net/api/sms/send.json?from=%2B5561984608436&to=%2B4323221293388&text=Hello+World+From+Brazil" class="btn btn-primary btn-lg">http://testsms.fredsena.net/api/sms/send.json?from=%2B5561984608436&to=%2B4323221293388&text=Hello+World+From+Brazil</a></p>
    
    
    <p><a href="http://testsms.fredsena.net/api/sms/send.json?from=%2B5561984608436&to=%2B4826021293388&text=Hello+World+From+Brazil" class="btn btn-primary btn-lg">http://testsms.fredsena.net/api/sms/send.json?from=%2B5561984608436&to=%2B4826021293388&text=Hello+World+From+Brazil</a></p>

    
    <p><a href="http://testsms.fredsena.net/api/sms/sent.json?dateTimeFrom=2015-03-01T11:30:20&dateTimeTo=2017-03-02T09:20:22&skip=0&take=50" class="btn btn-primary btn-lg">http://testsms.fredsena.net/api/sms/sent.json?dateTimeFrom=2015-03-01T11:30:20&dateTimeTo=2017-03-02T09:20:22&skip=0&take=50</a></p>

    
    <p><a href="http://testsms.fredsena.net/api/sms/statistics.json?dateFrom=2015-03-01&dateTo=2017-03-05&mccList=" class="btn btn-primary btn-lg">http://testsms.fredsena.net/api/sms/statistics.json?dateFrom=2015-03-01&dateTo=2017-03-05&mccList=</a></p>

    
</div>

